html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body #title {
  color: #4C4C4C;
  font-size: 2rem;
  text-align: center;
  padding: 10px 0px;
}
body #wrapper {
  width: 50%;
  padding: 40px 5px;
  margin: 0 auto 40px;
  background-color: white;
  border: 1px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
body #wrapper h1, body #wrapper p, body #wrapper label, body #wrapper li {
  color: #4C4C4C;
}
body #wrapper label {
  margin: 0;
}
body #wrapper #description {
  text-align: center;
  padding-bottom: 7px;
  font-size: 1.25rem;
}
body #wrapper #survey-form .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
}
body #wrapper #survey-form .row .column_left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}
body #wrapper #survey-form .row .column_right {
  width: 60%;
  display: flex;
  justify-content: center;
}
body #wrapper #survey-form .row .column_right input, body #wrapper #survey-form .row .column_right textarea {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  background: #E8F0FE;
  width: 100%;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  color: #546672;
}
body #wrapper #survey-form .row .column_right input:focus, body #wrapper #survey-form .row .column_right textarea:focus {
  outline: none;
  border-color: #0099CC;
}
body #wrapper #survey-form .row .column_right input::placeholder, body #wrapper #survey-form .row .column_right textarea::placeholder {
  color: #818e97;
  font-size: 14px;
  padding: 5px auto;
}
body #wrapper #survey-form .row .column_right #row__one, body #wrapper #survey-form .row .column_right #row__two, body #wrapper #survey-form .row .column_right #row__three, body #wrapper #survey-form .row .column_right #row__four {
  margin-bottom: 10px;
}
body #wrapper #survey-form .row .column_right .dropdown__container {
  display: flex;
  justify-content: center;
}
body #wrapper #survey-form .row .column_right .dropdown__container #dropdown {
  width: 80%;
  color: #4C4C4C;
}
body #wrapper #survey-form .row .column_right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: space-around;
  flex-direction: column;
  width: 70%;
}
body #wrapper #survey-form .row .column_right ul li {
  display: grid;
  grid-template-columns: 120px 1fr;
  margin: 2.5px 0;
}
body #wrapper #survey-form .row .column_right ul li [type=checkbox], body #wrapper #survey-form .row .column_right ul li [type=radio] {
  align-self: center;
  margin-left: 50%;
}
body #wrapper #survey-form .row .column_right ul li label {
  white-space: nowrap;
}
body #wrapper #survey-form .row .column_right #submit {
  text-transform: uppercase;
  background-color: #4C4C4C;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  padding: 8px 40px;
  margin: 0 8px 0;
}
body #wrapper #survey-form .row .column_right #submit:focus {
  outline: none;
  border-color: #0099CC;
}

/*# sourceMappingURL=form1.css.map */
